<h1>Posts</h1>
<%= link_to 'New Post', new_post_path %>

<% @posts.each do |post| %>
  <article class='comment'>
    
    <h3><%= link_to "#{post.title} (#{post.url})", post.url %></h3>
    posted by: <%= post.user.username %>
    <%= link_to "Comments (#{post.comments.count})", post_path(post) %>
  </article>
<% end %>

<br />


